{% extends 'AdminBundle:Default:base.html.twig' %}

{% set page_title    = "" %}
{% set page_subtitle = "" %}

{% block content %}
    <div class="profile-env">

        <header class="row">

            <div class="col-sm-2">
                <a href="#" class="profile-picture">
                    <img src="{{ asset('bundles/admin/assets/images/profile-picture.png') }}" class="img-responsive img-circle" />
                </a>
            </div>

            <div class="col-sm-7">

                <ul class="profile-info-sections">
                    <li>
                        <div class="profile-name">
                            <strong>
                                <a href="#">{{ app.security.getToken().getUser().getName() }}</a>
                            </strong>
                            <span><a href="#">Administrador</a></span>
                        </div>
                    </li>
                </ul>

            </div>

        </header>

        <section class="profile-info-tabs">

            <div class="row">

                <div class="col-sm-offset-2 col-sm-10">

                    <ul class="user-details">
                        <li>
                            <a href="#">
                                <i class="entypo-mail"></i>
                                {{ app.security.getToken().getUser().getEmail() }}
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="entypo-user"></i>
                                {{ app.security.getToken().getUser().getUsername() }}
                            </a>
                        </li>
                    </ul>

                    <!-- tabs for the profile links -->
                    <ul class="nav nav-tabs">
                        <li class="{% if tab == 'me' %}active{% endif %}">
                            <a href="{{ path('admin_me') }}">
                                <i class="entypo-login"></i>
                                Alterar dados
                            </a>
                        </li>
                        <li class="{% if tab == 'password' %}active{% endif %}">
                            <a href="{{ path('admin_change_password') }}">
                                <i class="entypo-lock"></i>
                                Alterar senha
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <div class="row">
            {% block content_me %}{% endblock %}
        </div>

    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/selectboxit/jquery.selectBoxIt.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/admin/assets/js/selectboxit/jquery.selectBoxIt.min.js') }}"></script>
{% endblock %}