<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>Esqueci minha senha</title>

    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/font-icons/entypo/css/entypo.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-core.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}">

    <script src="{{ asset('bundles/admin/') }}assets/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]><script src="{{ asset('bundles/admin/') }}assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body login-page login-form-fall" data-url="http://neon.dev">


<script type="text/javascript">
    var baseurl = '';
</script>

<div class="login-container">

    <div class="login-header login-caret">

        <div class="login-content">

            {#<a href="{{ path('admin_login') }}" class="logo">#}
                {#<img src="{{ asset('bundles/frontend/assets/images/logo-paulino-veiculos.png') }}" width="250" alt="" />#}
            {#</a>#}

            <p class="description">Esqueci minha senha :(</p>

            <!-- progress bar indicator -->
            <div class="login-progressbar-indicator">
                <h3>43%</h3>
                <span>logging in...</span>
            </div>
        </div>

    </div>

    <div class="login-progressbar">
        <div></div>
    </div>

    <div class="login-form">

        <div class="login-content">

            <form method="post" role="form" id="form_forgot_password" novalidate="novalidate">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="form-forgotpassword-success show">
                        <i class="entypo-check"></i>
                        <h3>Nova senha enviada com sucesso.</h3>
                        <p>Em alguns minutos você receberá um e-mail com a nova senha.</p>
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="form-login-error" style="display: block; height: auto;">
                        <h3>Dados inválidos</h3>
                        <p>Seu e-mail não foi encontrado.</p>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-mail"></i>
                        </div>

                        <input type="text" class="form-control" name="email" id="email" placeholder="E-MAIL" data-mask="email" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block btn-login">
                        Solicitar nova senha
                        <i class="entypo-right-open-mini"></i>
                    </button>
                </div>

            </form>


            <div class="login-bottom-links">

                <a href="{{ path('admin_login') }}" class="link">
                    <i class="entypo-lock"></i>
                    Voltar para o Login
                </a>
                <br />
                powered by <a href="http://www.comosefala.com">Como se fala?</a>
            </div>

        </div>

    </div>

</div>


<!-- Bottom Scripts -->
<script src="{{ asset('bundles/admin/assets/js/gsap/main-gsap.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/joinable.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/resizeable.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-api.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-login.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-custom.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-demo.js') }}"></script>

</body>
</html>