<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>Login</title>

    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/font-icons/entypo/css/entypo.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-core.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}">

    <script src="{{ asset('bundles/admin/') }}assets/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]><script src="{{ asset('bundles/admin/') }}assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body login-page login-form-fall" data-url="http://neon.dev">


<!-- This is needed when you send requests via Ajax --><script type="text/javascript">
    var baseurl = '';
</script>

<div class="login-container">

    <div class="login-header login-caret">

        <div class="login-content">
            {#<a href="{{ path('admin_login') }}" class="logo">#}
                {#<img src="{{ asset('bundles/frontend/assets/images/logo-paulino-veiculos.png') }}" width="250" alt="" />#}
            {#</a>#}

            <p class="description">PAINEL ADMINISTRATIVO</p>

            <!-- progress bar indicator -->
            <div class="login-progressbar-indicator">
                <h3>43%</h3>
                <span>logging in...</span>
            </div>
        </div>

    </div>

    <div class="login-progressbar">
        <div></div>
    </div>

    <div class="login-form">

        <div class="login-content">

            <div class="form-login-error">
                <h3>Invalid login</h3>
                <p>Enter <strong>demo</strong>/<strong>demo</strong> as login and password.</p>
            </div>

            <form method="post" action="{{ path('admin_login_check') }}">

                {% if error %}
                    <div class="form-login-error" style="display: block; height: auto;">
                        <h3>Ops</h3>
                        <p>Parece que você digitou algo errado.</p>
                    </div>
                {% endif %}

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>

                        <input type="text" class="form-control" name="_username" id="username" placeholder="e-mail" autocomplete="off" />
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>

                        <input type="password" class="form-control" name="_password" id="password" placeholder="senha" autocomplete="off" />
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        <i class="entypo-login"></i>
                        Entrar
                    </button>
                </div>
            </form>


            <div class="login-bottom-links">
                <a href="{{ path('admin_forgot_password') }}" class="link">Esqueceu sua senha?</a>
                <br />
                powered by <a href="http://www.comosefala.com">Como se fala?</a>
            </div>

        </div>

    </div>

</div>


<!-- Bottom Scripts -->
<script src="{{ asset('bundles/admin/assets/js/gsap/main-gsap.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/joinable.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/resizeable.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-api.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-login.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-custom.js') }}"></script>
<script src="{{ asset('bundles/admin/assets/js/neon-demo.js') }}"></script>

</body>
</html>