{% extends 'AdminBundle:Login:base_me.html.twig' %}

{% form_theme form 'AdminBundle:Default:form_theme.html.twig' %}

{% block content_me %}

    <div class="col-sm-12">
        <!-- BEGIN FORM-->
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}

        <div class="form-body">
            <div class="row">
                {{ form_row(form.currentPassword) }}
            </div>

            <div class="row">
                {{ form_row(form.newPassword) }}
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-success">
                                <i class="entypo-check"></i>
                                Salvar nova senha
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- END FORM-->
    </div>

{% endblock %}