<div class="textdark">
    Olá, {{ entity.name }}.
</div>

<br/>
<div class="textdark">
    Sua nova senha de acesso é: {{ password }}<br/>Seu usuário de acesso é: {{ entity.email }}
    <br/>
    É recomendável que você altere sua senha o quanto antes.
</div>

<br/>
<div class="textdark">
    Qualquer dúvida ou sugestão, entre em contato com nosso suporte.
</div>