<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>Como se fala?</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/font-icons/entypo/css/entypo.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/neon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/default.css') }}">

        <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>

        <script src="{{ asset('bundles/frontend/assets/js/jquery-1.11.0.min.js') }}"></script>
        <script>$.noConflict();</script>

        <!--[if lt IE 9]><script src="{{ asset('bundles/frontend/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}


</head>
<body>

<div class="wrap">


<!-- Logo and Navigation -->
{#<div class="site-header-container container">#}

    {#<div class="row">#}

        {#<div class="col-md-12">#}

            {#<header class="site-header">#}

                {#<section class="site-logo">#}

                    {#<a href="{{ path('frontend_home') }}">#}
                        {#<img src="{{ asset('bundles/frontend/assets/images/logo-central-horiz300px.png') }}" width="250" />#}
                    {#</a>#}

                {#</section>#}

                {#<nav class="site-nav">#}

                    {#<ul class="main-menu hidden-xs" id="main-menu">#}
                        {#&#123;&#35;<li class="active">&#35;&#125;#}
                            {#&#123;&#35;<a href="{{ path('frontend_home') }}">&#35;&#125;#}
                                {#&#123;&#35;<span>Home</span>&#35;&#125;#}
                            {#&#123;&#35;</a>&#35;&#125;#}
                        {#&#123;&#35;</li>&#35;&#125;#}
                        {#<li>#}
                            {#<a href="{{ path('frontend_aboutus') }}">#}
                                {#<span>Sobre</span>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('frontend_contact') }}">#}
                                {#<span>Contato</span>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="search">#}
                            {#<a href="#">#}
                                {#<i class="entypo-search"></i>#}
                            {#</a>#}

                            {#<form method="get" class="search-form" action="" enctype="application/x-www-form-urlencoded">#}
                                {#<input type="text" class="form-control" name="q" placeholder="Type to search..." />#}
                            {#</form>#}
                        {#</li>#}
                    {#</ul>#}


                    {#<div class="visible-xs">#}
                        {#<a href="#" class="menu-trigger">#}
                            {#<i class="entypo-menu"></i>#}
                        {#</a>#}

                    {#</div>#}
                {#</nav>#}

            {#</header>#}

        {#</div>#}

    {#</div>#}

{#</div>#}
<!-- Main Slider -->

    {% block content %}

    {% endblock %}

    {% block copy %}
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin: 50px 0 10px 0; text-align: center; font-size: 10px;">
                    <p>*Importante: Informamos que as pronúncias são cadastradas de forma colaborativa, excluindo a responsabilidade do criador deste site. O intuito deste site é auxiliar as pessoas a pronunciarem as palavras.</p>
                </div>
            </div>
        </div>
    {% endblock %}

</div>

{% block jscript %}
    <!-- Bottom scripts (common) -->
    <script src="{{ asset('bundles/frontend/assets/js/gsap/main-gsap.js') }}"></script>
    <script src="{{ asset('bundles/frontend/assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/frontend/assets/js/joinable.js') }}"></script>
    <script src="{{ asset('bundles/frontend/assets/js/resizeable.js') }}"></script>
    <script src="{{ asset('bundles/frontend/assets/js/neon-slider.js') }}"></script>


    <!-- JavaScripts initializations and stuff -->
    <script src="{{ asset('bundles/frontend/assets/js/neon-custom.js') }}"></script>
{% endblock %}

</body>
</html>