body {
    font-family: 'Acme', sans-serif;
}

.container {
    width: 290px;
}

h3,
h3 a,
h3 a:hover,
h3 a:active{
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    color: #5cb85c;
    text-align: center;
    margin: 40px 0;
}

.title p {
    font-size: 21px;
    color: #303641;
    text-align: center;
}

.title p b {
    color: #5cb85c;
}

.btn {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    border-radius: 5px;
    font-size: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    width: 100%;
    font-size: 20px;
    color: #BEBEBE;
}

.grid {
    font-size: 17px;
    margin: 30px 0;
    color: #5cb85c;
    text-transform: capitalize;
}

.grid .row:first-child {
    margin-top: 10px;
    border-top: 1px solid #DEDEDE;
    padding-top: 10px;
}

.grid .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 10px;
}

.grid .col-md-6.button {
    text-align: center;
}

.collaborate input:read-only {
    background-color: #EEE;
    cursor: not-allowed;
}

.collaborate label {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 18px;
}

.collaborate p {
    margin-bottom: 20px;
}

.collaborate p:last-child {
    margin-bottom: 0px;
}

.col-md-6.word {
    float: left;
}

.col-md-6.button,
.col-md-6.pronounce{
    float: right;
}