<p>Bem-vindo, {{ user }}.</p>
<p>Você foi cadastrado no <strong>Como se fala?</strong>!</p>
<p>Para acessar o painel de controle, clique no link abaixo e utilize seus dados de acesso:</p>
<p>Painel: <a href="{{ url('admin_login') }}" style="color: #0000ff; font-weight: normal; text-decoration: none;">{{ url('admin_login') }}</a></p>
<p>Login: <a style="color: #0000ff; font-weight: normal; text-decoration: none;">{{ email }}</a></p>
<p>Senha: <a style="color: #0000ff; font-weight: normal; text-decoration: none;">{{ password }}</a></p>
<p>A sua senha foi gerada automaticamente.<br>Recomendamos que você a altere durante o seu primeiro acesso.</p>