{% extends 'AdminBundle:Default:base_form.html.twig' %}

{% set page_title    = "Usuário" %}
{% set page_subtitle = "cadastro" %}

{% block form_actions_top %}

    {{ macro_links.back() }}

{% endblock %}

{% block form_body %}

    <div class="row">
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
    </div>

    <div class="row">
        {{ form_row(form.roles) }}
    </div>
{% endblock %}

{% block form_actions %}

    <button type="submit" class="btn btn-success">
        Salvar
    </button>
    <a class="btn btn-default" href="{{ path('user_list') }}">Voltar</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            {% if(entity.roles is empty) %}
                $("#user_rolesSelectBoxItText").text('Selecione...');
            {% endif %}
        });
    </script>

{% endblock %}