{% extends 'AdminBundle:Default:base_list.html.twig' %}

{% set page_title    = "Usuários" %}
{% set page_subtitle = "listagem" %}

{% block table_actions %}

    <a href="{{ path('user_new') }}" class="btn btn-success btn-icon icon-left">
        <i class="entypo-plus-squared"></i>
        Novo Usuário
    </a>

{% endblock %}

{% block content %}
    {% if users|length == 0 %}
        <div class="alert alert-info">
            Nenhum usuário encontrado.
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block table_header %}

    <th>Nome</th>
    <th>E-mail</th>
    <th width="18%" style="text-align: center;">
        Ações
    </th>

{% endblock %}

{% block table_data %}
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td style="text-align: center;">
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Editar
                </a>
                <a href="javascript:void(0);" data-url="{{ path('user_delete', {'id': user.id}) }}" data-action="delete" class="btn btn-danger btn-sm btn-icon icon-left">
                    <i class="entypo-cancel"></i>
                    Excluir
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}