.login-page .login-header { padding: 30px 0; }

.col-md-12.job{
    padding-left: 0px !important;
}

.interest-area .interestArea.btn-add,
.interest-area .jobRole.btn-add{
    left: 10% !important;
}

.interest-area .item-group{
    border: 1px dotted #0a8948 !important;
    bottom: 10px !important;
    left: 20px !important;
    padding-bottom: 0 !important;
    position: relative !important;
    width: 85% !important;
}

.interest-area .row.item-group{
    border: 1px dotted #0a8948 !important;
    bottom: 10px !important;
    left: 33px !important;
    padding-bottom: 0 !important;
    position: relative !important;
    width: 85% !important;
}

.item-group{
    background-color: #ebebeb;
    border-bottom: 2px solid #00A651;
    border-radius: 5px;
    display: inline-table;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 100%;
}

.row.item-group{
    width: 103.5%;
}

.control-label{
    font-weight: bold;
    color: #000000;
}

.jobapplicant .col-md-4{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 200px;
    width: 32%;
}

.jobapplicant .col-md-6.additional-information,
.jobapplicant .col-md-6.rh-information{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 0;
    width: 48%;
    margin-right: 10px;
}

.row.jobapplicant .col-md-4{
    padding-bottom: 15px;
}

.jobapplicant .col-md-2,
.jobapplicant .col-md-3,
.jobapplicant .col-md-4,
.jobapplicant .col-md-6,
.jobapplicant .col-md-12{
    padding-right: 10px !important;
}

.jobapplicant h4{
    color: #00a651;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 30px;
}

.btn-default{
    background-color: #00a651;
    border-color: #00a651;
    color: #fff;
}

.btn-default:hover, .btn-default:active{
    background-color: #0a8948;
    border-color: #0a8948;
    color: #fff;
}

#ComoSeFala_domainbundle_jobapplicant_professionalGoals,
#ComoSeFala_domainbundle_jobapplicant_professionalSummary,
#ComoSeFala_domainbundle_jobapplicant_selfEvaluation,
#ComoSeFala_domainbundle_jobapplicant_additionalInformation{
    min-height: 170px;
}

.education.btn-add,
.knowledges.btn-add,
.experiences.btn-add,
.languages.btn-add,
.socialNetwork.btn-add{
    left: 0 !important;
}

.btn-remove{
    left: 15px;
    margin-bottom: 30px;
    position: relative;
}

.form-control.textarea{
    min-height: 100px;
}

.form-group.submit{
    margin-top: 30px;
}

#ComoSeFala_DomainBundle_job_aboutClient,
#ComoSeFala_DomainBundle_job_benefits,
#ComoSeFala_DomainBundle_job_description,
#ComoSeFala_DomainBundle_job_requirements,
#ComoSeFala_DomainBundle_job_additionalInformation{
    min-height: 200px;
}

.form-control.search{
    margin-left: 20px;
    width: 50%;
}

.btn.btn-default.submit{
    bottom: 31px;
    float: right;
    position: relative;
    right: 24%;

}