{% extends 'AdminBundle:Default:base_form.html.twig' %}

{% set page_title    = "Palavra" %}
{% set page_subtitle = "cadastro" %}

{% block form_actions_top %}
    {{ macro_links.back() }}
{% endblock %}

{% block form_body %}
    <div class="row">
        {{ form_row(form.word) }}
    </div>
    <div class="row">
        {{ form_row(form.pronounce) }}
    </div>
{% endblock %}

{% block form_actions %}

    <button type="submit" class="btn green">Salvar</button>
    <a class="btn btn-default" href="{{ path('word_list') }}">Voltar</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}