{% extends 'AdminBundle:Default:base_list.html.twig' %}

{% set page_title    = "Palavras" %}
{% set page_subtitle = "listagem" %}

{% block table_actions %}
    <a href="{{ path('word_new') }}" class="btn btn-success btn-icon icon-left">
        <i class="entypo-plus-squared"></i>
        Nova Palavra
    </a>
{% endblock %}

{% block content %}
    <div style="padding: 10px 0 20px 0; font-weight: bold; font-size: 20px;">
        Total de palavras cadastradas: {{ count }}
    </div>
    {% if words|length == 0 %}
        <div class="alert alert-info">
            Nenhuma palavra encontrada.
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block table_header %}

    <th>Palavra</th>
    <th>Como se fala?</th>
    <th width="18%" style="text-align: center;">
        Ações
    </th>

{% endblock %}

{% block table_data %}
    {% for word in words %}
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.pronounce }}</td>
            <td style="text-align: center;">
                <a href="{{ path('word_edit', {'id': word.id}) }}" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Editar
                </a>
                <a href="javascript:void(0);" data-url="{{ path('word_delete', {'id': word.id}) }}" data-action="delete" class="btn btn-danger btn-sm btn-icon icon-left">
                    <i class="entypo-cancel"></i>
                    Excluir
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}