{% extends 'AdminBundle:Default:base.html.twig' %}

{% set page_title    = "Dashboard" %}
{% set page_subtitle = "visão geral" %}

{% block content %}

    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a href="{{ path('word_list') }}">
                <div class="tile-stats tile-red">
                    <div class="icon">
                        <i class="entypo-chat"></i>
                    </div>
                    <div data-delay="0" data-duration="0" data-postfix="" data-end="{{ countWord }}" data-start="0" class="num">{{ countWord }}</div>
                    <h3>PALAVRAS</h3>
                    <p>cadastradas no sistema.</p>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="tile-stats tile-blue">
                <div class="icon">
                    <i class="entypo-eye"></i>
                </div>
                <div data-delay="0" data-duration="0" data-postfix="" data-end="{{ countViews }}" data-start="0" class="num">{{ countViews }}</div>
                <h3>VISITAS</h3>
                <p>no sistema.</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/admin/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/rickshaw/vendor/d3.v3.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/rickshaw/rickshaw.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($)
        {
            $('.pie').sparkline('html', {
                type: 'pie',
                borderWidth: 0,
                sliceColors: ['#3d4554', '#ee4749','#00b19d']
            });


            $(".chart").sparkline([1,2,3,1], {
                type: 'pie',
                barColor: '#485671',
                height: '110px',
                barWidth: 10,
                barSpacing: 2});

            var map = $("#map");

            map.vectorMap({
                map: 'europe_merc_en',
                zoomMin: '3',
                backgroundColor: '#00a651',
                focusOn: { x: 0.5, y: 0.8, scale: 3 }
            });



            // Rickshaw
            var seriesData = [ [], [] ];

            var random = new Rickshaw.Fixtures.RandomData(50);

            for (var i = 0; i < 90; i++)
            {
                random.addData(seriesData);
            }

            var graph = new Rickshaw.Graph( {
                element: document.getElementById("rickshaw-chart-demo-2"),
                height: 217,
                renderer: 'area',
                stroke: false,
                preserve: true,
                series: [{
                    color: '#359ade',
                    data: seriesData[0],
                    name: 'Page Views'
                }, {
                    color: '#73c8ff',
                    data: seriesData[1],
                    name: 'Unique Users'
                }, {
                    color: '#e0f2ff',
                    data: seriesData[1],
                    name: 'Bounce Rate'
                }
                ]
            } );

            graph.render();

            var hoverDetail = new Rickshaw.Graph.HoverDetail( {
                graph: graph,
                xFormatter: function(x) {
                    return new Date(x * 1000).toString();
                }
            } );

            var legend = new Rickshaw.Graph.Legend( {
                graph: graph,
                element: document.getElementById('rickshaw-legend')
            } );

            var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
                graph: graph,
                legend: legend
            } );

            setInterval( function() {
                random.removeData(seriesData);
                random.addData(seriesData);
                graph.update();

            }, 500 );

        });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function($)
        {
            (function() {
                var myCustomColors = {
                    'GR': '#f04239',
                    'ES': '#f04239',
                    'PT': '#f04239',
                    'SE': '#f04239',
                    'SI': '#f04239',
                    'DK': '#f04239',
                    'DE': '#f04239',
                    'NL': '#f04239',
                    'BE': '#f04239',
                    'LU': '#f04239',
                    'BG': '#f04239',
                    'FR': '#f04239',
                    'GB': '#f04239',
                    'IE': '#f04239',
                    'IT': '#f04239',
                    'HR': '#f04239',
                    'RO': '#f04239',
                    'EE': '#f04239',
                    'LV': '#f04239',
                    'LT': '#f04239',
                    'PL': '#f04239',
                    'AT': '#f04239',
                    'HU': '#f04239',
                    'SK': '#f04239',
                    'CZ': '#f04239',
                    'LT': '#f04239',
                    'FI': '#f04239',
                    'CY': '#f04239',

                    // Arab League
                    'SA': '#06b53c',
                    'SO': '#06b53c',
                    'DZ': '#06b53c',
                    'EG': '#06b53c',
                    'LY': '#06b53c',
                    'TN': '#06b53c',
                    'YE': '#06b53c',
                    'QA': '#06b53c',
                    'JO': '#06b53c',
                    'KW': '#06b53c',
                    'OM': '#06b53c',
                    'LB': '#06b53c',
                    'SY': '#06b53c',
                    'PS': '#06b53c',
                    'IQ': '#06b53c',
                    'MA': '#06b53c',
                    'MR': '#06b53c',
                    'DJ': '#06b53c',
                    'AE': '#06b53c',
                    'BH': '#06b53c',
                    'KM': '#06b53c',

                    // NFATA
                    'US': '#2b303a',
                    'CA': '#2b303a',
                    'MX': '#2b303a',
                };

                map = new jvm.WorldMap({
                    map: 'world_mill_en',
                    container: $('#worldmap'),
                    backgroundColor: '#CCC',
                    series: {
                        regions: [{
                            attribute: 'fill'}]
                    }
                });

                map.series.regions[0].setValues(myCustomColors);
            })();
        });

    </script>

{% endblock javascripts %}