.row.collection.phones .btn.btn-danger.btn-remove,
.row.collection.educations .btn.btn-danger.btn-remove,
.row.collection.language .btn.btn-danger.btn-remove{
    left: 14%;
    margin-bottom: 20px;
    position: relative;
}

.row.collection .btn.btn-default.btn-add {
    left: 12.8%;
    margin-bottom: 15px;
    position: relative;
}

.col-md-offset-3.col-md-9{
    position: relative;
    right: 10px;
}

.chzn-container.chzn-container-multi input,
.chzn-container.chzn-container-multi{
    min-width: 350px !important;
}