{% extends 'AdminBundle:Default:base.html.twig' %}

{% form_theme form 'AdminBundle:Default:form_theme.html.twig' %}

{% block content %}
<div class="row">

    <div class="col-sm-12">
        <!-- BEGIN FORM-->
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}

            <div class="form-body">
                {% block form_body %}{% endblock %}
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                {% block form_actions %}
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        {#{{ form_end(form) }}#}
        <!-- END FORM-->
    </div>

</div>
{% endblock %}

{% block css %}

    {#<link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/select2/select2-bootstrap.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/select2/select2.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/selectboxit/jquery.selectBoxIt.css') }}">

{% endblock %}

{% block javascripts %}

    {#<script src="{{ asset('bundles/admin/assets/js/select2/select2.min.js') }}"></script>#}
    <script src="{{ asset('bundles/admin/assets/js/selectboxit/jquery.selectBoxIt.min.js') }}"></script>

{% endblock %}