{% extends 'AdminBundle:Default:base.html.twig' %}

{% block content %}

    <table class="table table-bordered responsive">
        <thead>
            <tr>
                {% block table_header %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% block table_data %}{% endblock %}
        </tbody>
    </table>

{% endblock %}