<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Administração | {{ page_title }}</title>

    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/font-icons/entypo/css/entypo.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-core.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/neon-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}">

    <script src="{{ asset('bundles/admin/assets/js/jquery-1.11.0.min.js') }}"></script>

    <!--[if lt IE 9]><script src="{{ asset('bundles/admin/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}{% endblock %}

</head>
<body class="page-body" data-url="http://neon.dev">

{#<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->#}
<div class="page-container">

    <div class="sidebar-menu">

        <header class="logo-env">
            {#<!-- logo -->#}
            {#<div class="logo">#}
                {#<a href="{{ path('admin_dashboard') }}">#}
                    {#<img src="{{ asset('bundles/frontend/assets/images/logo-paulino-veiculos.png') }}" width="150" alt="" />#}
                {#</a>#}
            {#</div>#}

            {#<!-- logo collapse icon -->#}
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

            {#<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->#}
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation">
                    {#<!-- add class "with-animation" to support animation -->#}
                    <i class="entypo-menu"></i>
                </a>
            </div>
        </header>

        <div class="sidebar-user-info">
            {#<div class="sui-normal">#}
                {#<a href="#" class="user-link">#}
                    {#<img src="{{ asset('bundles/admin/assets/images/thumb-1.png') }}" alt="" class="img-circle">#}

                    {#<span>Perfil,</span>#}
                    {#<strong>Administrador</strong>#}
                {#</a>#}
            {#</div>#}
            <div class="sui-hover inline-links animate-in">
                {#<!-- You can remove "inline-links" class to make links appear vertically, class "animate-in" will make A elements animateable when click on user profile -->#}

                <a href="{{ path('admin_logout') }}">
                    <i class="entypo-lock"></i>
                    Sair do sistema
                </a>

                <span class="close-sui-popup">×</span>
                {#<!-- this is mandatory -->			#}
            </div>
        </div>

        <ul id="main-menu" class="">
            <li>
                <a href="{{ path('admin_dashboard') }}">
                    <i class="entypo-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {#<li class="root-level has-sub">#}
                {#<a style="cursor:pointer;">#}
                    {#<i class="entypo-chat"></i>#}
                    {#<span>Palavras</span>#}
                {#</a>#}
                {#<ul style="">#}
                    {#<li>#}
                        {#<a href="">#}
                            {#<span class="title">...</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            <li>
                <a href="{{ path('word_list') }}">
                    <i class="entypo-chat"></i>
                    <span>Palavras</span>
                </a>
            </li>
            <li>
                <a href="{{ path('user_list') }}">
                    <i class="entypo-users"></i>
                    <span>Usuários</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="main-content">

        <div class="row">

            <div class="col-md-6 col-sm-8 clearfix">
                <ul class="user-info pull-left pull-none-xsm">
                    <li class="profile-info dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('bundles/admin/assets/images/thumb-2.png') }}" alt="" class="img-circle" width="44">
                            {{ app.security.getToken().getUser().getName() }}
                        </a>

                        <ul class="dropdown-menu">
                            <li class="caret"></li>

                            <li>
                                <a href="{{ path('admin_me') }}">
                                    <i class="entypo-login"></i>
                                    Editar meus dados
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('admin_change_password') }}">
                                    <i class="entypo-lock"></i>
                                    Alterar senha
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-4 clearfix hidden-xs">

                <ul class="list-inline links-list pull-right">
                    <li>
                        <a href="{{ path('admin_logout') }}">
                            Sair do sistema <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <hr />

        <div class="pull-right breadcrumb-actions">
            {% block table_actions %}{% endblock %}
        </div>

        {% if page_title %}
        <h2>{{ page_title }} <small>{{ page_subtitle }}</small></h2>

        <hr />
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="main">
            &copy; {{ 'now'|date('Y') }} powered by <strong>Como se fala?</strong>
        </footer>
    </div>

</div>

    {# BEGIN - DELETE MODAL #}
    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Exclusão de registro</h4>
                </div>

                <div class="modal-body">
                    Deseja realmente excluir este registro?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger btn-delete-record" data-url="">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    {# END - DELETE MODAL #}

    {# BEGIN - BOTTOM SCRIPTS #}
    <script src="{{ asset('bundles/admin/assets/js/gsap/main-gsap.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/joinable.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/resizeable.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/neon-api.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/toastr.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('bundles/admin/assets/js/jquery.validate.min.js')}}"></script>

    {% if app.environment == 'dev' %}
    <script src="{{ asset('bundles/admin/assets/js/neon-custom-dev.js') }}"></script>
    {% else %}
    <script src="{{ asset('bundles/admin/assets/js/neon-custom.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        jQuery(function($){

            {% for flashMessage in app.session.flashbag.get('notification') %}
            toastr.success("{{ flashMessage }}");
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
            toastr.error("{{ flashMessage }}");
            {% endfor %}

            $("a[data-action='delete']").click(function(){
                $('#modal-delete').modal('show');
                $(".btn-delete-record").attr('data-url', $(this).attr('data-url'));
            });

            $(".btn-delete-record").click(function(){

                var url = $(this).attr('data-url');
                $('#modal-delete').modal('hide');

                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'html',
                    success: function()
                    {
                        location.reload();
                    }
                });

            });

        });
    </script>
    {# END - BOTTOM SCRIPTS #}

    {% block javascripts %}{% endblock %}

</body>
</html>