{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="title">
                <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>
                <p>Preencha o campo com a pronúncia da palavra!</p>
            </div>

            {{ form_start(form) }}

            <div class="collaborate" style="padding: 20px 0;">
                <p>{{ form_row(form.word) }}</p>
                <p>{{ form_row(form.pronounce) }}</p>
            </div>

            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{{ path('frontend_collaborate')}}" class="btn btn-primary" style="margin-top: 10px;">Voltar</a>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}