{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="title">
                <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>

                {% if (results|length == 0) %}
                <p>Que pena, não encontramos nenhuma palavra para você colaborar com alguém hoje, volte outra hora...</p>
                {% else %}
                <p>Colabore com seus amigos inserindo o modo de pronúncia das palavras abaixo:</p>
                {% endif %}
            </div>

            <div class="grid">
                {% for result in results %}
                    <div class="row">
                        <div class="col-md-6 word">
                            {{ result.word }}
                        </div>
                        <div class="col-md-6 button">
                            <a href="{{ path('frontend_collaborate_update', { 'id': result.id }) }}">
                                <img src="{{ asset('bundles/admin/assets/images/btn-add.png') }}" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div>
                <a href="{{ path('frontend_index')}}" class="btn btn-primary">Voltar</a>
            </div>

        </div>
    </div>
{% endblock %}