{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            {% if created == true %}
                <div class="title">
                    <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>
                    <p>Palavra adicionada com sucesso!!!</p>
                    <p>Em breve alguém lhe ajudará!</p>

                    <div style="margin-top: 20px;">
                        <a href="{{ path('frontend_index')}}" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            {% else  %}
                <div class="title">
                    <p>Digite no campo abaixo a palavra que deseja saber como pronunciar e clique e enviar.<br>Em breve alguém irá lhe ajudar!</p>
                </div>

                {{ form_start(form) }}

                <div style="padding: 20px 0;">
                    <p>{{ form_row(form.value) }}</p>
                </div>

                <button type="submit" class="btn btn-success">Enviar</button>
                <a href="{{ path('frontend_index')}}" class="btn btn-primary">Voltar</a>

                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}