{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="title">
                <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>
                <p>Saiba como pronunciar as palavras!</p>
            </div>

            {{ form_start(form) }}

            <div style="padding: 20px 0;">
                <p>{{ form_row(form.value, { 'attr': {'placeholder': 'Digite uma palavra...'} }) }}</p>
            </div>

            <p><button type="submit" class="btn btn-success">Como se fala?</button></p>
            <p><a href="{{ path('frontend_collaborate')}}" class="btn btn-primary">Colaborar (Listagem de palavras)</a></p>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}