{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="title">
                <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>
                {% if exists == false %}
                    <p>Ops! Parece que a palavra <b>"{{ word|capitalize }}"</b> não foi encontrada.</p>
                    <p>Que tal pedir ajuda pra alguém?</p>
                    <div style="margin-top: 20px;">
                        <a href="{{ path('frontend_help', { 'word': word })}}" class="btn btn-success">Pedir ajuda</a>
                    </div>
                {% endif %}

                {% if exists == true %}
                    {% if isHelp == true %}
                    <p>Oba! Parece que alguém já cadastrou a palavra que vocês está pedindo ajuda...</p>
                    {% endif %}
                    <p>Confira abaixo como pronunciar a palavra <b>"{{ word|capitalize }}"</b>.</p>
                {% endif %}
            </div>

            {% if exists == true %}
                <div class="grid">
                    <div class="row" style="background-color: #E8E8E8; color: #303641;">
                        <div class="col-md-6 word">
                            Palavra
                        </div>
                        <div class="col-md-6 pronounce">
                            Como se fala
                        </div>
                    </div>
                    {% for result in results %}
                        <div class="row">
                            <div class="col-md-6 word">
                                {{ result.word }}
                            </div>
                            <div class="col-md-6 pronounce">
                                {{ result.pronounce }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div style="margin-top: 10px;">
                <a href="{{ path('frontend_index')}}" class="btn btn-primary">Voltar</a>
            </div>

        </div>
    </div>
{% endblock %}