{% extends 'FrontendBundle:Base:base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="title">
                <h3><a href="{{ path('frontend_index')}}">Como se fala?</a></h3>
                <p>Obrigado por colaborar! Sua ajuda é muito importante pra todos nós...</p>
            </div>

            <div style="margin-top: 40px;">
                <a href="{{ path('frontend_index')}}" class="btn btn-primary">Voltar</a>
            </div>

        </div>
    </div>
{% endblock %}